*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --text-dark: #1D1D1D;
    --text-dark-medium: #4A4A4A;
    --text-dark-light: #777777;
    --text-white: #FFFFFF;
    --text-white-light: #F4F4F4;
    --button: #289BDE;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.button{
    font-weight: 600;
    font-size: 20px;
    padding: 10px 22px;
    border: 1px solid var(--button);
    border-radius: 5px;
    color: var(--button);
    transition: .3s;
}
.button:hover {
    color: var(--text-white-light);
    background-color: var(--button);
  }
/* ----------------------
       navbar part     
----------------------- */
nav{
    margin: 20px 0;
}
nav ul li{
    font-weight: 400;
    font-size: 18px;
    padding: 0 8px;
}
nav ul li a{
    color: var(--text-dark-light) !important;
}

/* ----------------------
       banner part     
----------------------- */
#banner-part{
    margin-bottom: 60px;
}
#banner-part .banner{
    position: relative;
}

#banner-part .overlay{
    background-color: rgb(29, 29, 29, .6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}
#banner-part .overlay h1{
    font-weight: 600;
    font-size: 65px;
    line-height: 62px;
    color: var(--text-white);
}
#banner-part .overlay p {
	color: var(--text-white-light);
	width: 62%;
	padding: 40px 0;
	font-size: 18px;
	font-weight: 400;
}
.banner-btn{
    color: var(--text-white);
    background: var(--button);
}
/* ----------------------
       course part     
----------------------- */
#courses-part{
    margin-bottom: 60px;
}
.title-part h2{
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
}
.title-part p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#courses-part .text h3{
    font-size: 25px;
    font-weight: 600;
    color: var(--text-dark-medium);
}
#courses-part .text p{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-dark-light);
}
.price{
    font-size: 18px;
    font-weight: 600;
    color: var(--button);
}
/* ----------------------
       explore part     
----------------------- */

#explore-part{
    margin-bottom: 60px;
}
/* ----------------------
       Reg part     
----------------------- */
#reg-part{
    margin-bottom: 60px;
}
#reg-part .reg{
    background-color: var(--button);
    padding: 40px 50px;
    border-radius: 5px;
}
.reg-btn{
    color: var(--button);
    background-color: var(--text-white);
}
.reg-btn:hover{
    background-color: #226e9b;
    color: var(--text-white);
}
/* ----------------------
       success part     
----------------------- */
#success-part{
    margin-bottom: 60px;
}
/* ----------------------
       faq part     
----------------------- */
#faq-part{
    margin-bottom: 60px;
}
/* ----------------------
       company part     
----------------------- */
#company-part{
    margin-bottom: 60px;
}
/* -------------------------
            footer part           
    ------------------------ */
    footer {
        padding: 60px 0;
        background: #161616;
        color: #fff;
        text-align: center;
    }
    footer h2{
        font-size: 40px;
        font-weight: 600;
    }
    footer p{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    }
    footer a{
        color: #fff;
        padding: 0 10px;
        font-size: 16px;
        font-weight: 500;
    }
    footer a:hover{
        color: var(--text-white);
    }
    footer .link a:first-child{
        border-right: 1px solid var(--text-white);
    }
    footer .social-icon{
        padding-top: 20px;
    }
    footer .social-icon a{
        font-size: 35px;
    }



    @media screen and (max-width: 576px){
        .button {
            font-size: 16px;
            padding: 4px 14px;
        }
        #banner-part .overlay h1 {
            font-size: 32px;
            line-height: 35px;
        }
        #banner-part .overlay p {
            padding: 20px 0;
            font-size: 14px;
        }
        .title-part h2 {
            font-size: 35px;
            line-height: 35px;
        }
        .title-part p {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            width: 90% !important;
        }
        .course {
            display: block !important;
            text-align: center;
            border: none !important;
        }
        #courses-part .text{
            padding-left: 0 !important;
        }
        #courses-part .text h3 {
            padding-top: 15px;
        }
        #explore-part .title-part h2{
            padding-top: 0 !important;
        }
        #explore-part .ex-btn {
            padding-top: 2rem !important;
            text-align: center;
            padding-bottom: 2rem !important;
        }
        #reg-part .reg{
            display: block !important;
            text-align: center;
        }
        #reg-part .title-part {
            width: 100% !important;
            padding-bottom: 15px;
        }
        #reg-part .title-part p{
            width: 100% !important;
        }
        #success-part .title-part{
            text-align: center;
        }
        #success-part h2{
            width: 100%!important;
        }
        #success-part p{
            width: 100%!important;
        }
        #success-part .success{
            display: block !important;
        }
        #success-part .success-card  {
            width: 90% !important;
            margin: 0 auto !important;
            margin-bottom: 20px !important;
        }
        #success-part .text{
            text-align: center;
        }
        .faq {
            width: 100% !important;
        }
        #company-part{
            display: none;
        }
        footer {
            padding: 50px 0;
        }
        footer h2 {
            font-size: 35px;
            font-weight: 600;
        }
        footer p {
            font-size: 14px;
            line-height: 23px;
        }
        footer a {
            padding: 0 8px;
            font-size: 14px;
        }
        footer .social-icon {
            padding-top: 14px;
        }
    }
    @media (min-width: 577px) and (max-width: 991px){
        .button {
            font-size: 18px;
            padding: 8px 16px;
        }
        #banner-part .overlay h1 {
            font-size: 36px;
            line-height: 35px;
        }
        #banner-part .overlay p {
            padding: 20px 0;
            font-size: 16px;
        }
        .title-part h2 {
            font-size: 40px;
            line-height: 48px;
        }
        .title-part p {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            width: 90% !important;
        }
        
        #explore-part .title-part h2{
            padding-top: 0 !important;
        }
        #explore-part .ex-btn {
            padding-top: 2rem !important;
            text-align: center;
            padding-bottom: 2rem !important;
        }
        #explore-part img{
            height: 100% !important;
        }
        #explore-part .title-part{
            padding-top: 10px !important;
        }
        #explore-part .title-part h2 {
            font-size: 25px !important;
            line-height: 34px;
        }
        #explore-part .title-part p {
            font-size: 12px !important;
        }
        #explore-part .title-part .none {
            display: none;
        }
        #reg-part .reg{
            display: block !important;
            text-align: center;
        }
        #reg-part .title-part {
            width: 100% !important;
            padding-bottom: 15px;
        }
        #reg-part .title-part p{
            width: 100% !important;
        }
        #success-part .title-part h2 {
            font-size: 42px;
            line-height: 48px;
            width: 100% !important;
        }
        #success-part .success-card  {
            width: 90% !important;
            margin: 0 auto !important;
            margin-bottom: 20px !important;
        }
        #success-part .text{
            text-align: center;
        }
        .faq {
            width: 100% !important;
        }
        #company-part{
            display: none;
        }
        footer {
            padding: 50px 0;
        }
        footer h2 {
            font-size: 35px;
            font-weight: 600;
        }
        footer p {
            font-size: 14px;
            line-height: 23px;
        }
        footer a {
            padding: 0 8px;
            font-size: 14px;
        }
        footer .social-icon {
            padding-top: 14px;
        }
    }